.lock-wscript
build/
test/data/**/*.aux*
test/data/**/*.tmp*
node_modules
/.project
.DS_Store
deps/libgdal/gdal.tar.gz
deps/libgeos/geos.tar.bz2
deps/libproj/proj.tar.gz
deps/libexpat/expat.tar.gz
lib/binding