.lock-wscript
build/
find.exe
msys-1.0.dll
*.lib
*.obj
*.tlog
*.sln
*.vcxproj*
*.pdb
*.log
*.orig
test/data/**/*.aux*
test/data/**/*.tmp*
node_modules
/.project
.DS_Store
deplibs
deps/libgdal/gdal.tar.gz
deps/libgeos/geos.tar.bz2
deps/libproj/proj.tar.gz
deps/libexpat/expat.tar.gz
lib/binding