.lock-wscript
build/
find.exe
node.exe
msys-1.0.dll
*.lib
*.obj
*.tlog
*.sln
*.vcxproj*
*.pdb
*.log
*.orig
test/data/**/*.aux*
test/data/**/*.tmp*
test/data/**/*.gfs
test/data/**/*.gz.*
node_modules
/.project
.DS_Store
deplibs
deps/libgdal/gdal*.tar.gz
deps/libgeos/geos*.tar.bz2
deps/libproj/proj*.tar.gz
deps/libexpat/expat*.tar.gz
deps/libsqlite/sqlite*.tar.gz
lib/binding
yuidocs
package-lock.json
yarn.lock


deps/libgdal/gdal/wince
deps/libgdal/gdal/swig
deps/libgdal/gdal/vb6
deps/libgdal/gdal/html
deps/libgdal/gdal/man
deps/libgdal/gdal/m4
deps/libgdal/gdal/doc
deps/libgdal/gdal/scripts
deps/libgdal/gdal/install-sh
deps/libgdal/gdal/config*
deps/libgdal/gdal/Doxyfile
deps/libgdal/gdal/DoxygenLayout.xml
deps/libgdal/gdal/GNUmakefile
deps/libgdal/gdal/makefile.vc
deps/libgdal/gdal/aclocal.m4
deps/libgdal/gdal/NEWS*
deps/libgdal/gdal/COMMITTERS*
deps/libgdal/gdal/PERFORMANCE*
deps/libgdal/gdal/PROVENANCE*
deps/libgdal/gdal/MIGRATION_GUIDE*
deps/libgdal/gdal/HOWTO-RELEASE*
deps/libgdal/gdal/Vagrantfile
deps/libgdal/gdal/fuzzers
deps/libgdal/gdal/ci
deps/libgdal/gdal/docker
deps/libgdal/gdal/**/*.in
deps/libgdal/gdal/**/*.sh
deps/libgdal/gdal/**/*.bat
deps/libgdal/gdal/**/*.opt
deps/libgdal/gdal/**/*.py
deps/libgdal/gdal/**/*.dox
deps/libgdal/gdal/**/*.html
deps/libgdal/gdal/**/*.wince
deps/libgdal/gdal/**/*.m4
deps/libgdal/gdal/**/*.dist
deps/libgdal/gdal/**/*Makefile*
deps/libgdal/gdal/**/GNUmakefile
deps/libgdal/gdal/**/Doxyfile
deps/libgdal/gdal/**/README*
deps/libgdal/gdal/**/Makefile.dist
deps/libgdal/gdal/**/makefile.vc
deps/libgdal/gdal/**/GNUmakefile
deps/libgdal/gdal/**/*.html
deps/libgdal/gdal/**/*.wince
deps/libgdal/gdal/**/*.m4
deps/libgdal/gdal/**/*.dist
deps/libgdal/gdal/**/*.lst

deps/libexpat/expat/win32
deps/libexpat/expat/tests
deps/libexpat/expat/m4
deps/libexpat/expat/examples
deps/libexpat/expat/vms
deps/libexpat/expat/doc
deps/libexpat/expat/amiga
deps/libexpat/expat/conftools
deps/libexpat/expat/bcb5
deps/libexpat/expat/xmlwf
deps/libexpat/expat/expat.dsw
deps/libexpat/expat/MANIFEST
deps/libexpat/expat/Changes
deps/libexpat/expat/configure
deps/libexpat/expat/CMake*
deps/libexpat/expat/Configure*
deps/libexpat/expat/**/*.m4
deps/libexpat/expat/**/*.in
deps/libexpat/expat/**/*.cmake
deps/libexpat/expat/**/*.dsp
deps/libexpat/expat/**/*.def
deps/libexpat/expat/**/*.ac
deps/libexpat/expat/**/*.sh
deps/libexpat/expat/**/Makefile*
deps/libexpat/expat/**/README*

deps/libgeos/geos/benchmarks
deps/libgeos/geos/php
deps/libgeos/geos/swig
deps/libgeos/geos/doc
deps/libgeos/geos/cmake
deps/libgeos/geos/tests
deps/libgeos/geos/tools
deps/libgeos/geos/macros
deps/libgeos/geos/ChangeLog
deps/libgeos/geos/config*
deps/libgeos/geos/**/CMakeLists.txt
deps/libgeos/geos/**/*.in
deps/libgeos/geos/**/*.am
deps/libgeos/geos/**/*.sh
deps/libgeos/geos/**/*.bat
deps/libgeos/geos/**/*.opt
deps/libgeos/geos/**/*.py
deps/libgeos/geos/**/*.dox
deps/libgeos/geos/**/*.mk
deps/libgeos/geos/**/*Makefile*
deps/libgeos/geos/**/GNUmakefile
deps/libgeos/geos/**/Doxyfile
deps/libgeos/geos/**/Makefile.dist
deps/libgeos/geos/**/makefile.vc
deps/libgeos/geos/**/*.html
deps/libgeos/geos/**/*.wince
deps/libgeos/geos/**/*.m4
deps/libgeos/geos/NEWS
deps/libgeos/geos/TODO
deps/libgeos/geos/INSTALL
deps/libgeos/geos/compile
deps/libgeos/geos/py-compile
deps/libgeos/geos/install-sh
deps/libgeos/geos/depcomp
deps/libgeos/geos/missing
deps/libgeos/geos/test-driver
deps/libgeos/geos/COMMITERS*
deps/libgeos/geos/PERFORMANCE*
deps/libgeos/geos/PROVENANCE*
deps/libgeos/geos/MIGRATION_GUIDE*
deps/libgeos/geos/HOWTO-RELEASE*
deps/libgeos/geos/.editorconfig

deps/libproj/proj/config*
deps/libproj/proj/**/tests
deps/libproj/proj/makefile*
deps/libproj/proj/cmake
deps/libproj/proj/**/*.cmake
deps/libproj/proj/**/CMakeLists.txt
deps/libproj/proj/missing
deps/libproj/proj/depcomp
deps/libproj/proj/ChangeLog
deps/libproj/proj/NEWS
deps/libproj/proj/INSTALL
deps/libproj/proj/**/README
deps/libproj/proj/ltconfig
deps/libproj/proj/install*
deps/libproj/proj/test-driver
deps/libproj/proj/test
deps/libproj/proj/m4
deps/libproj/proj/mkinstalldirs
deps/libproj/proj/**/*.sh
deps/libproj/proj/**/*.opt
deps/libproj/proj/**/*.in
deps/libproj/proj/**/*.in
deps/libproj/proj/**/*.am
deps/libproj/proj/**/*.m4
deps/libproj/proj/**/*.def
deps/libproj/proj/man
deps/libproj/proj/jniwrap
deps/libproj/proj/compile
deps/libproj/proj/nad/test*
deps/libproj/proj/nad/makefile*
deps/libproj/proj/nad/*_out*
deps/libproj/proj/data/*.*
deps/libproj/proj/data/*/
deps/libproj/proj/data/Makefile
deps/libproj/proj/data/libtool
!deps/libproj/proj/data/proj.db
!deps/libproj/proj/data/nad.lst
!deps/libproj/proj/data/other.extra

deps/libsqlite/sqlite/*.m4
deps/libsqlite/sqlite/compile
deps/libsqlite/sqlite/Makefile.*
deps/libsqlite/sqlite/README.*
deps/libsqlite/sqlite/missing
deps/libsqlite/sqlite/INSTALL
deps/libsqlite/sqlite/configure
deps/libsqlite/sqlite/*.ac
deps/libsqlite/sqlite/*.guess
deps/libsqlite/sqlite/install-sh
deps/libsqlite/sqlite/depcomp
deps/libsqlite/sqlite/*.sub
deps/libsqlite/sqlite/*.sh
deps/libsqlite/sqlite/*.in
deps/libsqlite/sqlite/*.1
deps/libsqlite/sqlite/*.rc
deps/libsqlite/sqlite/*.cs
deps/libsqlite/sqlite/tea
