os: Visual Studio 2015

environment:
  AWS_ACCESS_KEY_ID:
    secure: ihP9C8AMdicFGeffdKqgNG1O4n68jDHQPAZCB/IfuZg=
  AWS_SECRET_ACCESS_KEY:
    secure: G45Qz4paCV4VpsA939dz7i2PQiTdVOYwh1paZ3sGSdS9REKnLHB2cmToak8uAyHP
  matrix:
    - nodejs_version: "0.10.40"
      msvs_toolset: 12
    - nodejs_version: "0.12.7"
      msvs_toolset: 12
    - nodejs_version: "0.10.40"
      msvs_toolset: 14
      TOOLSET_ARGS: --dist-url=https://s3.amazonaws.com/mapbox/node-cpp11 --toolset=v140
    - nodejs_version: "0.12.7"
      msvs_toolset: 14
      TOOLSET_ARGS: --dist-url=https://s3.amazonaws.com/mapbox/node-cpp11 --toolset=v140
    - nodejs_version: "4.2.1"
      msvs_toolset: 14
    - nodejs_version: "5.1.0"
      msvs_toolset: 14

platform:
  - x86
  - x64

artifacts:
  - path: test/artifacts/*.txt
    name: Test Logs

install:
  - scripts\build-appveyor.bat

build: off
test: off
deploy: off
